<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-ad-admob-huntmads"
    version="1.0.31">
	
    <name>Cordova Admob-HuntMAds Mediation Plugin</name>
    <description>Cordova Admob-HuntMAds Mediation Plugin</description>
    <author>Sang Ki Kwon (Cranberrygame)</author>		
    <license>MIT</license>
    <keywords>cordova,plugin,ad,admob,monetisation,huntmads,mediation</keywords>
    <repo>https://github.com/cranberrygame/cordova-plugin-ad-admob</repo>
    <issue>https://github.com/cranberrygame/cordova-plugin-ad-admob/issues</issue> 	
	<engines>
	    <engine name="cordova" version=">=3.0.0" />
	</engines>
	
    <!-- android -->
    <platform name="android">
        <source-file src="src/android/huntmadsadaptor.jar" target-dir="libs" />		

    </platform>
     
     <!-- ios -->
     <platform name="ios">    
		<source-file src="src/ios/libAdapterSDKHuntMobileAds.a" framework="true"/>
		<framework src="MediaPlayer.framework" />
    </platform>
	
	<!-- dependency -->
	<dependency id="cordova-plugin-ad-admob" url="https://github.com/cranberrygame/cordova-plugin-ad-admob" />	
</plugin>
